[Desktop Entry]
Name=merezhyvo
Comment=Minimal Chromium-based browser for Ubuntu Touch
Exec=env OZONE_PLATFORM=wayland ./app/merezhyvo --fullscreen
Icon=merezhyvo_256.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
X-Ubuntu-Touch=true
