[Desktop Entry]
Name=Merezhyvo
Comment=Minimal Chromium-based browser for Ubuntu Touch
Exec=env XCURSOR_SIZE=14 OZONE_PLATFORM=wayland ./app/merezhyvo
Icon=merezhyvo_256.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
X-Ubuntu-Touch=true
